.menu{
    background-color: whitesmoke;
    text-align: end;
    padding: 15px;
    font-size: 18px;
    position: fixed;
    width: 98%;

    a{
        text-decoration: none;
        color: black;
        padding: 15px;
    }

    a:hover{
        background-color: black;
        color: whitesmoke;
    }
}



@media (max-width: 350px)
{
    .menu{
        font-size: 35px;

        a{
            text-align: center;
            border: 1px solid black;
            padding-right: 10px;
        }
    }
}