.skills{
    padding-top: 40px;
    color: whitesmoke;
    font-size: 30px;
    margin-left: 60px;


    ul{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .line{
        width: 80vw;
    }
    .title{
        padding-top: 40px;
    }

    .icons{
        display: grid;
        width: 60vw;
        grid-template-columns: repeat(4, 1fr);
        font-size: 50px;

        .icon{
            margin-top: 30px;
        }
    }

}



@media (max-width: 650px)
{
    .skills{
        margin-left: 0px;
        font-size: 35px;
        width: 100vw;
        .icons{
            width: 100vw;
            grid-template-columns: repeat(3, 1fr);
        }
        ul{
            width: 100vw;
            font-size: 20px;
        
        li{
            margin-top: 40px;
        }

        }
    }    
}